{% for block in section.blocks %}
  {% case block.type %}
    {% when 'QA' %}
      <h1>{{block.settings.question}}</h1>
        <h1>{{block.settings.answer}}</h1>
  {% endcase %}
{% endfor %}

{% schema %}
  {
    "name": "Section name",
      "blocks":[
         {
           "name": "QA",
           "type": "QA",
           "settings": [
              {
                "type": "text",
                "id": "question",
                "label": "Question"
              },
             {
              "type": "textarea",
              "id": "answer",
              "label": "Answer"
            }
           ]
         }
  ],
  "settings": [],
     "presets": [
    {
      "name": "faq"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}