{% for block in section.blocks %}
  Hello
  {% case block.type %}
    {% when 'specs-section' %}
      <div class="sec" {{ block.shopify_attributes }}>
        {{ block.settings.name }}----- {{ block.settings.value }}
      </div>
  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "Specs",
  "blocks": [
     {
       "name": "specs",
       "type": "specs-section",
       "settings": [
         {
           "type": "text",
           "id": "name",
           "label": "Name"
         },
         {
           "type": "text",
           "id": "value",
           "label": "Value"
         }
       ]
     }
   ],
  "presets": [
      {
      "name": "Specs"
      }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}