{% comment %} {% for block in section.blocks %}
  {% case block.type %}
    {% when 'text' %}
      <div class="slide" {{ block.shopify_attributes }}>
        {{ block.settings.image | image_url: width: 2048 | image_tag }}
      </div>
    ...
  {% endcase %}
{% endfor %} {% endcomment %}


{% schema %}
  {
    "name": "Section name",
    "blocks": [
       {
         "name": "Personal Info",
         "type": "asd",
         "settings": [
           {
            "type": "text",
            "id": "first_name",
            "label": "First Name"
           },
           {
            "type": "text",
            "id": "last_name",
            "label": "Last Name"
           }
         ]
       }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}