{% for block in section.blocks %}
  {% case block.type %}
    {% when 'personal_info' %}
      <span><h3>{{ block.settings.first_name }}</h3></span>  <span><h3>{{ block.settings.last_name }}</h3></span>
    
  {% endcase %}
{% endfor %}

{% schema %}
  {
    "name": "Section name",
    "blocks": [
       {
         "name": "Personal Info",
         "type": "personal_info",
         "settings": [
           {
            "type": "text",
            "id": "first_name",
            "label": "First Name"
           },
           {
            "type": "text",
            "id": "last_name",
            "label": "Last Name"
           }
         ]
       },
       {
         "name": "Address",
         "type": "address",
         "settings": [
           {
            "type": "textarea",
            "id": "address",
            "label": "Address"
           }
         ]
       }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}