<h1>Test Product</h1>


{% schema %}
  {
    "name": "Section name",
    "blocks": [
       {
         "name": "Slide",
         "type": "slide",
         "settings": [
           {
            "type": "text",
            "id": "footer_linklist_title",
            "label": "Heading",
            "default": "Quick links"
           }
         ]
       }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}