  <div class="wrapper">
        <h2>Slick Carousel Example<h2>
            <div class="carousel">
            <div class="carousel-itm">
                <div class="testimonial-img-container">
                    <img src="https://picsum.photos/300/200?random=1" class="testimonial-img">
                </div>
                <h4 class="testimonial-description">Karim</h4>
                <p class="testimonial-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus aliquid minima earum dolores similique tempora, omnis corporis culpa quidem et deserunt optio.
                </p>
            </div>
            <div class="carousel-itm">
                <div class="testimonial-img-container">
                    <img src="https://picsum.photos/300/200?random=1" class="testimonial-img">
                </div>
                <h4 class="testimonial-description">Karim</h4>
                <p class="testimonial-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus aliquid minima earum dolores similique tempora, omnis corporis culpa quidem et deserunt optio.
                </p>
            </div>
            <div class="carousel-itm">
                <div class="testimonial-img-container">
                    <img src="https://picsum.photos/300/200?random=1" class="testimonial-img">
                </div>
                <h4 class="testimonial-description">Karim</h4>
                <p class="testimonial-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus aliquid minima earum dolores similique tempora, omnis corporis culpa quidem et deserunt optio.
                </p>
            </div>
            <div class="carousel-itm">
                <div class="testimonial-img-container">
                    <img src="https://picsum.photos/300/200?random=1" class="testimonial-img">
                </div>
                <h4 class="testimonial-description">Karim</h4>
                <p class="testimonial-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus aliquid minima earum dolores similique tempora, omnis corporis culpa quidem et deserunt optio.
                </p>
            </div>
            <div class="carousel-itm">
                <div class="testimonial-img-container">
                    <img src="https://picsum.photos/300/200?random=1" class="testimonial-img">
                </div>
                <h4 class="testimonial-description">Karim</h4>
                <p class="testimonial-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus aliquid minima earum dolores similique tempora, omnis corporis culpa quidem et deserunt optio.
                </p>
            </div>
            <div class="carousel-itm">
                <div class="testimonial-img-container">
                    <img src="https://picsum.photos/300/200?random=1" class="testimonial-img">
                </div>
                <h4 class="testimonial-description">Karim</h4>
                <p class="testimonial-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus aliquid minima earum dolores similique tempora, omnis corporis culpa quidem et deserunt optio.
                </p>
            </div>
            <div class="carousel-itm">
                <div class="testimonial-img-container">
                    <img src="https://picsum.photos/300/200?random=1" class="testimonial-img">
                </div>
                <h4 class="testimonial-description">Karim</h4>
                <p class="testimonial-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus aliquid minima earum dolores similique tempora, omnis corporis culpa quidem et deserunt optio.
                </p>
            </div>
            <div class="carousel-itm">
                <div class="testimonial-img-container">
                    <img src="https://picsum.photos/300/200?random=1" class="testimonial-img">
                </div>
                <h4 class="testimonial-description">Karim</h4>
                <p class="testimonial-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus aliquid minima earum dolores similique tempora, omnis corporis culpa quidem et deserunt optio.
                </p>
            </div>
            </div>
      </div>   
{%- stylesheet -%}
  .wrapper{
    width:100%;
    padding-top: 20px;
    text-align:center;
  }

  .carousel{
    width:90%;
    margin:0px auto;
  }
  .slick-slide{
    margin:10px;
  }
  .slick-slide img{
    width:100%;
    border: 2px solid #fff;
  }
  .wrapper .slick-dots li button:before {
    font-size:20px;
    color:#111;
  }
  .slick-next:before, .slick-prev:before{
    color:#111;
  }

  .carousel-itm{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonial-img-container{
    display: inline-block;
  }
  .testimonial-img-container img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }
{% endstylesheet %}

{% javascript %}

  
{% endjavascript %}

