<h1>Test Product</h1>


{% schema %}
  {
    "name": "Section name",
    "blocks": [
       {
         "name": "Personal Info",
         "type": "slide",
         "settings": [
           {
            "type": "text",
            "id": "first_name",
            "label": "First Name"
           },
           {
            "type": "text",
            "id": "last_name",
            "label": "Last Name"
           }
         ]
       }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}