{% comment %} {% for block in section.blocks %}
  {% case block.type %}
    {% when 'personal_info' %}
      <span><h3>{{ block.first_name }}</h3></span>  <span><h3>{{ block.last_name }}</h3></span>
    
  {% endcase %}
{% endfor %}
 {% endcomment %}

{% schema %}
  {
    "name": "Section name",
    "blocks": [
       {
         "name": "Personal Info",
         "type": "personal_info",
         "settings": [
           {
            "type": "text",
            "id": "first_name",
            "label": "First Name"
           },
           {
            "type": "text",
            "id": "last_name",
            "label": "Last Name"
           }
         ]
       }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}